<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rahul.goodplays">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.TrackDetailsActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.ArtistDetailsActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.AlbumDetailsActivity"
            android:parentActivityName=".Activities.MainActivity" />

        <provider
            android:name=".Data.DataProvider"
            android:authorities="com.example.rahul.goodplays"
            android:exported="false" />

        <activity android:name=".Activities.Main2Activity"
            android:parentActivityName=".Activities.MainActivity"/>

    </application>

</manifest>